/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #f2f2f2; /* make a script to change to #f2f2f2 when convert it to PDF */
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 55px;
    color: rgba(42, 100, 150, 0.80);
    text-align:center;
    margin-bottom:15px;
}

h1:hover {
    background-color: rgba(42, 100, 150, 0.80);
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

/* Titles of categories */
h2 {
    color: #2a6496;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    background-color: #2574A9;
}

h2:hover {
    background-color: #2574A9;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    /* font-weight: bold; */
    text-align: center;
}

dd {
    margin-left: 17%;
}

dd:nth-child(odd) {
  margin-bottom: 20px;
}

p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #2574A9;
}

a:hover, a:active {
    background-color: #2574A9;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

/* Tables */
table:first-of-type td:nth-child(2) {
  width: 20%;
  text-align: right;
}
